/*
 * Author: Harshit
 * Version: 1.0.1
 */

/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 0.2px;
	color: #b9b9b9;
}

.scanlines {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url(style/images/tile.png);
}

input, textarea, select {
	background: rgba(0, 0, 0, 0.25);
	border: none;
	color: #b9b9b9;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

input:focus, textarea:focus, select:focus {
	background: rgba(0, 0, 0, 0.40)
}

p {
	margin-bottom: 20px
}

a {
	color: #65817a;
	text-decoration: none;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
}

a:hover {
	color: #86aca3
}

a.more {
	margin-bottom: 20px;
	display: inline-block;
	line-height: 1;
}

a.button, .forms fieldset .btn-submit, #commentform input#submit {
	font-family: 'Open Sans Condensed', sans-serif;
	background: #f2f2f2 url(resources/style/images/button.png) repeat-x;
	height: 31px;
	line-height: 31px;
	color: #383838;
	font-size: 14px;
	padding: 0px 18px;
	margin: 0 8px 0 0;
	display: inline-block;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	cursor: pointer;
	margin-bottom: 20px;
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	width: auto;
	border: none;
	font-weight: bold;
}

a.button.blue {
	background-color: #5f9cb8;
	color: #2d444e;
}

a.button.pink {
	background-color: #b55fb8;
	color: #443144;
}

a.button.purple {
	background-color: #635fb8;
	color: #313045;
}

a.button.yellow {
	background-color: #ac9757;
	color: #433f32;
}

a.button.red {
	background-color: #ac5757;
	color: #4a3232;
}

a.button.green {
	background-color: #5ca980;
	color: #2b4638;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #dedede;
	margin-bottom: 20px;
}

h1 {
	font-size: 24px;
	line-height: 26px;
}

h2 {
	font-size: 22px;
	line-height: 24px;
}

h3 {
	font-size: 20px;
	line-height: 22px;
}

h4 {
	font-size: 18px;
	line-height: 20px;
}

h5 {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

h6 {
	font-size: 14px;
	line-height: 18px;
}

h2.title {
	font-size: 15px;
	letter-spacing: 0.4px;
	line-height: 21px;
	margin-bottom: 10px;
}

h1.title a, h2.title a {
	color: #dedede
}

.title a:hover {
	color: #86aca3
}

ul {
	margin-bottom: 20px;
	margin-top: 10px;
	list-style-type: circle;
	list-style-position: inside;
}

ul li {
	padding: 0;
	margin: 0;
	padding-left: 4em;
}

ol {
	list-style: decimal;
	list-style-position: inside;
	margin-bottom: 20px;
}

ol li {
	padding: 0;
	margin: 0;
}

hr {
	border: none;
	background: transparent url(style/images/line.png) repeat-x;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.wrapper {
	width: 1010px;
	margin: 0 auto;
}

.header-wrapper {
	background: rgba(0, 0, 0, 0.33);
	margin-bottom: 40px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0
		rgba(255, 255, 255, 0.09);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0
		rgba(255, 255, 255, 0.09);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.55), inset 0 -1px 0
		rgba(255, 255, 255, 0.09);
	position: relative;
	z-index: 101;
}

.tab {
	margin-top: 10px;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 4em;
}

.tab1 {
	margin-top: 10px;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 2em;
}